git:
  overrideGpg: true
customCommands:
  - key: c
    command: cz --config ~/.config/cz/config.yaml commit
    description: commit with commitizen
    context: files
    loadingText: opening commitizen commit tool
    output: terminal
  - key: b
    command: tig blame -- {{.SelectedFile.Name}}
    context: files
    description: blame file at tree
    output: terminal
  - key: b
    command: tig blame {{.SelectedSubCommit.Sha}} -- {{.SelectedCommitFile.Name}}
    context: commitFiles
    description: blame file at revision
    output: terminal
  - key: B
    command: tig blame -- {{.SelectedCommitFile.Name}}
    context: commitFiles
    description: blame file at tree
    output: terminal
